@charset "UTF-8";
/*
$f-2:  123.364px;
$f-1:  104.717px;
*/
/*
$f10: 6.876px;
$f11: 5.836px;
$f12: 4.250px;
*/
.sans {
  font-family: "futura-pt", "Futura", "Avenir", "Helvetica", sans-serif; }

b, strong, .fw-bold {
  font-weight: 500; }

.f1 {
  font-size: 64.72px; }

h1, .h1, .f2 {
  font-size: 47.123px; }

h2, .h2, .f3 {
  font-size: 40px; }

.f4 {
  font-size: 29.124px; }

h3, .h3, .f5 {
  font-size: 24.722px; }

.f6 {
  font-size: 18px; }

h4, .h4, .f7 {
  font-size: 15.279px; }

h5, .h5, .f8 {
  font-size: 11.125px; }

h6, .h6, .f9 {
  font-size: 9.443px; }

header nav ul {
  padding: 0; }

header li {
  list-style: none;
  display: inline-block;
  font-size: 24.722px;
  padding-right: 25.2px;
  font-family: "futura-pt", "Futura", "Avenir", "Helvetica", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "futura-pt", "Futura", "Avenir", "Helvetica", sans-serif;
  font-weight: 500;
  margin-top: 0;
  text-rendering: optimizeLegibility; }
  h1.fw-bold, h1 .fw-bold, h2.fw-bold, h2 .fw-bold, h3.fw-bold, h3 .fw-bold, h4.fw-bold, h4 .fw-bold, h5.fw-bold, h5 .fw-bold, h6.fw-bold, h6 .fw-bold {
    font-weight: 500; }
  h1.wf-loading, h2.wf-loading, h3.wf-loading, h4.wf-loading, h5.wf-loading, h6.wf-loading {
    visibility: hidden; }

.no-ul {
  text-decoration: none; }

.ul {
  text-decoration: underline; }

.ul-hover:hover {
  text-decoration: underline; }

.excerpt sup {
  display: none; }

h1, h2, h3 {
  margin-bottom: 12.6px; }

h4, h5, h6 {
  margin-bottom: -12.6px; }

.ls2 {
  letter-spacing: 0.075em; }

.f-body {
  font-size: 18px; }

body, p, li, td {
  font-family: "kepler-std", "Baskerville", serif;
  font-size: 18px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-weight: 300; }

body {
  padding: 0;
  margin: 0; }

.center {
  text-align: center; }

blockquote {
  margin: 0;
  padding-left: 12.6px;
  font-style: italic;
  border-left: 4px solid #d3c9d3; }

main {
  width: 720px;
  margin: 0 auto;
  overflow-x: hidden; }

pre, code {
  font-family: "anonymous-pro", monospace; }

pre {
  overflow-x: scroll; }

pre code {
  padding: 0;
  font-size: 18px; }

p code {
  font-size: 15.279px; }

pre {
  margin: 0;
  line-height: 1.2; }

.uc {
  text-transform: uppercase; }

sup a {
  text-decoration: none; }
  sup a:hover {
    text-decoration: underline; }

footer.footnotes {
  font-style: italic; }
  footer.footnotes li {
    font-size: 15.279px;
    display: block;
    padding-left: 25.2px;
    padding-right: 25.2px; }
    footer.footnotes li sup {
      margin-left: -12.6px;
      font-style: normal;
      padding-right: 6.3px; }

.text-l {
  text-align: left; }

.text-c {
  text-align: center; }

.text-r {
  text-align: right; }

.blog-post .blog-content > p:last-of-type:after, .complete-article > p:last-of-type:after {
  content: " ❺"; }

.blog-post .blog-content > p:first-child {
  font-size: 24.722px; }

.pb1 {
  padding-bottom: 50.4px; }

.pb2 {
  padding-bottom: 25.2px; }

.pt1 {
  padding-top: 50.4px; }

.pt2 {
  padding-top: 25.2px; }

.pr2 {
  padding-right: 25.2px; }

.pl2 {
  padding-left: 25.2px; }

.mbnone {
  margin-bottom: 0; }

.mb1 {
  margin-bottom: 50.4px; }

.mb2 {
  margin-bottom: 25.2px; }

.mtneg {
  margin-top: -12.6px; }

.mtnone {
  margin-top: 0; }

.mt1 {
  margin-top: 50.4px; }

.mt2 {
  margin-top: 25.2px; }

.ib {
  display: inline-block; }

.w-100 {
  width: 100%; }

.nowrap {
  white-space: nowrap; }

header.site-header {
  background-image: url(/images/flamenco.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -20px, center;
  color: #fffeff; }
  header.site-header nav a, header.site-header h1 a {
    color: #fffeff; }
  header.site-header h1 a {
    text-decoration: none; }

div.highlight {
  background: #1e181e;
  color: #fffeff;
  border-radius: 6.3px;
  padding: 12.6px; }

a {
  color: #100d10; }
  a:visited {
    color: #100d10; }

.image-border {
  border: solid thin #100d10; }

.border-bottom {
  border-bottom: solid thin #100d10; }

.border-top {
  border-top: solid thin #100d10; }

.border-light {
  border-color: #d3c9d3; }

.button {
  text-decoration: none;
  padding: 6.3px;
  margin: 0; }
  .button:hover {
    background: rgba(0, 0, 0, 0.25);
    text-decoration: underline; }

hr {
  color: #d3c9d3; }

.pill {
  padding: 12.6px;
  background: #faf8fa;
  font-family: "futura-pt", "Futura", "Avenir", "Helvetica", sans-serif; }
  .pill:hover {
    background: #eeeaee; }

/*
.section-break:after, .article-break:after {
  width: 100%;
  text-align: center;
  //content: "— § —";
  content: "⋯";
  display: block;
  margin-bottom: $sz2;
}
*/
.highlight .hll {
  background-color: #222; }

.highlight .c {
  color: #7f9f7f; }

.highlight .err {
  color: #e37170;
  background-color: #3d3535; }

.highlight .g {
  color: #7f9f7f; }

.highlight .k {
  color: #f0dfaf; }

.highlight .l {
  color: #ccc; }

.highlight .n {
  color: #dcdccc; }

.highlight .o {
  color: #f0efd0; }

.highlight .x {
  color: #ccc; }

.highlight .p {
  color: #41706f; }

.highlight .cm {
  color: #7f9f7f; }

.highlight .cp {
  color: #7f9f7f; }

.highlight .c1 {
  color: #7f9f7f; }

.highlight .cs {
  color: #cd0000;
  font-weight: bold; }

.highlight .gd {
  color: #cd0000; }

.highlight .ge {
  color: #ccc;
  font-style: italic; }

.highlight .gr {
  color: red; }

.highlight .gh {
  color: #dcdccc;
  font-weight: bold; }

.highlight .gi {
  color: #00cd00; }

.highlight .go {
  color: gray; }

.highlight .gp {
  color: #dcdccc;
  font-weight: bold; }

.highlight .gs {
  color: #ccc;
  font-weight: bold; }

.highlight .gu {
  color: purple;
  font-weight: bold; }

.highlight .gt {
  color: #0040D0; }

.highlight .kc {
  color: #dca3a3; }

.highlight .kd {
  color: #ffff86; }

.highlight .kn {
  color: #dfaf8f;
  font-weight: bold; }

.highlight .kp {
  color: #cdcf99; }

.highlight .kr {
  color: #cdcd00; }

.highlight .kt {
  color: #00cd00; }

.highlight .ld {
  color: #cc9393; }

.highlight .m {
  color: #8cd0d3; }

.highlight .s {
  color: #cc9393; }

.highlight .na {
  color: #9ac39f; }

.highlight .nb {
  color: #efef8f; }

.highlight .nc {
  color: #efef8f; }

.highlight .no {
  color: #ccc; }

.highlight .nd {
  color: #ccc; }

.highlight .ni {
  color: #c28182; }

.highlight .ne {
  color: #c3bf9f;
  font-weight: bold; }

.highlight .nf {
  color: #efef8f; }

.highlight .nl {
  color: #ccc; }

.highlight .nn {
  color: #8fbede; }

.highlight .nx {
  color: #ccc; }

.highlight .py {
  color: #ccc; }

.highlight .nt {
  color: #9ac39f; }

.highlight .nv {
  color: #dcdccc; }

.highlight .ow {
  color: #f0efd0; }

.highlight .w {
  color: #ccc; }

.highlight .mf {
  color: #8cd0d3; }

.highlight .mh {
  color: #8cd0d3; }

.highlight .mi {
  color: #8cd0d3; }

.highlight .mo {
  color: #8cd0d3; }

.highlight .sb {
  color: #cc9393; }

.highlight .sc {
  color: #cc9393; }

.highlight .sd {
  color: #cc9393; }

.highlight .s2 {
  color: #cc9393; }

.highlight .se {
  color: #cc9393; }

.highlight .sh {
  color: #cc9393; }

.highlight .si {
  color: #cc9393; }

.highlight .sx {
  color: #cc9393; }

.highlight .sr {
  color: #cc9393; }

.highlight .s1 {
  color: #cc9393; }

.highlight .ss {
  color: #cc9393; }

.highlight .bp {
  color: #efef8f; }

.highlight .vc {
  color: #efef8f; }

.highlight .vg {
  color: #dcdccc; }

.highlight .vi {
  color: #ffffc7; }

.highlight .il {
  color: #8cd0d3; }

/*# sourceMappingURL=styles.css.map */
