body {
  font-family: georgia, times, serif;
  font-size: 14pt;
  line-height: 18pt;
  color: #ecf8ff;
  background: #ecf8ff;
  margin: 0px;
  padding: 0px;
}

.splash {
    color: #7A6282;
    font-weight: bold;
}
blockquote {
    font-style: italic;
    font-size: 10pt;
    color: #ecf8ff;
}

h1,h2,h3,h4,h5,h6 {
  font-family: georgia, times, serif;
  font-weight: bold;
}

a, a:visited {
  color: #272f42;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #272f42
}
div.container {  
  /*background: #6D80AA url('/images/header.png') no-repeat top center;*/
  background: #727FA9 url('/images/header.jpg') no-repeat top center;
}

h3.posttitle,
h3.posttitle a,
h3.posttitle a:visited,
h3.posttitle a:hover {
  font-size: 24pt;
  color: white;
  text-decoration: none;
  text-align: right;
}

.post {
  text-align: justify;
}

h3.posttitle {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
h5.postdate {
  font-size: 12pt;
  font-style: italic;
  text-align: right;
  color: white;
  margin-top: 0px;
  padding-top: 0px;
}

pre, tt, code {
  font-family: Bitstream Vera Sans Mono, Panic Sans, monaco, fixed-width;
  font-size: 10pt;
  line-height: 10pt;
}

code {
    background: #fff;
    color: #000;
}

div.post div.postcontent {
  padding-left: 9px;
}

#content {
    margin-top: 90px;
}

#subnav, #nav {
    margin: 0px;
    padding: 0px;
    padding-top: 230px;
    color: #272f42
}

#subnav {
    padding-top: 0px;
    color: #ecf8ff
}

#nav ul,
#subnav ul {
  margin:0px;
  padding-bottom: 6pt;
  margin-bottom: 6pt;
  text-align: right;
}

#nav ul li,
#subnavnav ul li,
#nav ul li a:hover,
#subnavnav ul li a:hover,
#nav ul li a,
#subnav ul li a {
  font-family: helvetica, sans-serif;
  font-size: 20pt;
  font-weight: bold;
  color: #272f42;
  text-decoration: none;
}

#subnavnav ul li,
#subnavnav ul li a:hover,
#subnav ul li a {
  font-size: 14pt;
  color: #ecf8ff;
}

#nav ul li a:hover {
  color: #ecf8ff;
}

#subnav ul li a:hover {
  color: #272f42;
}

#nav ul li,
#subnav ul li {
  display: inline;
  list-style: none;
  padding-left: 9px;
  padding-right: 9px;
  margin: 0px;
}

#footer {
    width: 100%;
    background: #333E54;
    color: #ecf8ff;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border-top: solid 3px #ecf8ff;
    height: 100%;
    font-size: 10pt;
}

ul.blogposts li {
    list-style: none;
    margin-bottom: 7pt;
}

ul.blogposts li span.postdate {
    font-style: italic;
}

.postcontent h1,
.postcontent h2,
.postcontent h3,
.postcontent h4,
.postcontent h5 {
    color: white;
}
.postcontent p {
    margin-top: 9px;
}
.postcontent p.first {
    margin-top: 0px;
}

strong {
    color: white;
}

a.album {
    font-weight: normal;
    font-style: italic;
}
