<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }} - naildrivin5.com</title>
        <meta name="author" content="David Copeland" />

        <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
        <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
        <!--[if lt IE 8]>
        <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
        <![endif]-->
        <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" />
        <!--
        <script type="text/javascript" src="/js/jquery-1.3.2.min.js">
        </script>
        -->
    </head>
    <body>

        <div class="site">
            <div class="container">
                <div clas="span-24 last" id="nav">
                    <ul>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/scalatour">Tour of Scala</a></li>
                        <li><a href="/music">Music</a></li>
                        <li><a href="/code">Code</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div id="content">
                    {{ content }}
                </div>
            </div>
            <div id="footer">
                <div class="contact">
                    <p>
                    Dave Copeland<br />
                    davec (at) naildrivin5 (dot) com
                    </p>
                </div>
                <div class="contact">
                    <p>
                    <a href="http://github.com/davetron5000/">github.com/davetron5000</a><br />
                    <a href="http://twitter.com/davetron5000/">twitter.com/davetron5000</a><br />
                    <a href="http://flickr.com/photos/davetron5000/">flickr.com/photos/davetron5000</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
