---
layout: blog
---
<!--<script type="text/javascript">
    var disqus_developer = true; 
</script>-->
<div class="span-1">&nbsp;</div>
<div class="span-7">
    <h3 class="posttitle">{{ page.title }}</h3>
    <h5 class="postdate">{{ page.date | date_to_string }}</h5>
</div>
<div class="span-13 post">
    <div class="postcontent">
        {{ content }}
    </div>
</div>
<div class="span-3 last">&nbsp;</div>
<div class="span-8">&nbsp;</div>
<div class="span-13">
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/daveblog5000/embed.js"></script><noscript><a href="http://disqus.com/forums/daveblog5000/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
<div class="span-3 last">&nbsp;</div>
<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}
	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/daveblog5000/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>
